/*
 Theme Name:   Say Cheese Photo Template 
 Theme URI:    http://flxa.co
 Description:  Twenty Fifteen Child Theme for SCP
 Author:       Nicholas Fletcher
 Author URI:   http://nfletcher.com
 Template:     twentyfifteen
 Version:      1.0.0
*/
@import url("../twentyfifteen/style.css");
@import url(https://fonts.googleapis.com/css?family=Lato:300,900);
body {
	font-family: "Lato",sans-serif;
	font-weight: 300;
	background-image: linear-gradient(transparent, white);
}
body:before {
	display: none;
}
.site {
	min-height: calc(100vh - 66px);
}
.site-main {
	padding-bottom: 6em;
}
.site .sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 100%;
	height: auto;
	background-color: white;
	z-index: 2;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}
.site .sidebar .site-header {
	position: relative;
	margin: 0;
	max-width: 100%;
	padding: 1em;
	background-color: #E977AF;
    color: white;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}
.site .sidebar .main-navigation {
	margin: 0;
	width: auto;
	display: inline-block;
	float: right;
	top: 1em;
	position: fixed;
	right: calc(2em + 100px);
	border: 0;
	background-color: transparent;
}
.site .sidebar .main-navigation .nav-menu {
	border: none;
}
.site .sidebar .main-navigation .nav-menu .menu-item {
	display: inline-block;
	width: auto;
	padding: 0;
	border: none;
}
.widget-area {
	position: fixed;
	top: 1.5em;
	right: 1em;
}
.widget-area .widget_search {
	margin: 0;
	padding: 0;
	width: 100px;
}
.site-content {
	margin-top: 82px;
	width: 100%;
	margin-left: 0;
	background: #222;
}
@media (min-width: 620px) {
	.site-content {
		padding-top: 3em;
	}
}
.site-content .site-main {
	padding: 1em;
}
.site-footer {
	width: 100%;
	margin: 0;
	padding: 0;
	z-index: 100;
	position: relative;
	bottom: 0;
	z-index: 1;
}
@media (min-width: 955px) {
	.site-footer {
		position: fixed;
	}
}
.site-footer .site-info {
	padding: 2em;
	background-color: #E977AF;
    color: white;
}
.site-info a {
    color: white;
    transition: .25s all ease;
    border-bottom: 1px solid rgba(255,255,255,.75);
}
.site-info a:hover {
	color: white;
	color: rgba(255,255,255,.75);
    border-bottom: 7px solid rgba(255,255,255,.75);
}
article .entry-footer {
	padding: 1em;
}

.site-header .site-title {
	color: white;
	font-family: "Lato";
	text-rendering: geometricPrecision;
	font-size: 2.5em;
    transition: .25s all ease;
}
.site-header.scroll .site-title {
	font-size: 1.5em;
}
.site-title a {
	color: white;
	font-weight: 300;
}
.site-description {
	margin: 0;
	margin-top: -2px;
	display: block !important;
}

/* Typography */

h1 {

}

h2 {
	font-size: .75em;
}

h3 {
	color: #E977AF;
}

.entry-header {
	font-size: 2em;
	padding: 0 .5em;
}

@media (min-width: 955px) {
	.entry-header {
		padding: 1em 3.5em;
	}
}

.entry-title, h2 {
	text-transform: lowercase;
    background-color: white;
    color: #E977AF;
    display: inline;
    position: relative;
    z-index: 1;
	font-size: 1em;
	max-width: 100%;
    padding: .25em;
    margin: 1em auto;
    text-rendering: geometricPrecision;
    font-weight: 100;
    padding: 0;
}

header.entry-header:after, h2:after {
    content: "";
    display: table;
    width: 100%;
    border-bottom: 1px solid #E977AF;
    position: relative;
    z-index: 0;
    top: -.45em;
}

h2:after {
    top: -.35em;
}
.entry-title a {
	color: #E977AF;
}
.entry-title a:hover {
	color: #444;
}

@media (min-width: 955px) {
	.entry-title {
		font-size: 1.5em;
	}
}

.hentry {
	padding-top: 1em;
}
article.hentry {
	max-width:1000px;
	margin: 0 auto;

}

@media (min-width: 955px) {
	article.hentry {
		margin-bottom: 10em;
	}
}

.entry-content, .entry-summary {
	padding: 2em 7em;
}

.home .entry-content, .entry-summary {
	padding: 0;
}

body.home .entry-content img {
	margin: 0 !important;
}

.bottom_content_widget {
	text-align: center;
}

@media screen and (min-width: 59.6875em) {
	.site {
	    max-width: 100%;
	}
}

/* mobile first */

@media (min-width: 955px) {
	.site .sidebar .main-navigation .nav-menu .menu-item a {
		color: white !important;
		padding: 1em;
		-webkit-transition: .25s all ease;
		        transition: .25s all ease;
	}
	.site .sidebar .main-navigation .nav-menu .menu-item a:hover {
		background-color: rgba(0,0,0,.1);
	    -webkit-transform: skew(-15deg);
	        -ms-transform: skew(-15deg);
	            transform: skew(-15deg);
	    padding: 1em;
	}
	/*.widget-area {
		width: calc(100% - 14em);
	}*/
}

/* Backwards arse mobile last design :( ... for shame (on me) */

.entry-content img {
	max-width: 100%;
	margin: 1em 0;
}
@media (min-width: 500px) {
	.entry-content img {
		margin: 1em;
	}
}
.entry-content p:before, .entry-content p:after {
    content: "";
    display: table;
    float: none;
    clear: both;
}


.image-grid:before, .image-grid:after {
	content "";
	display: table;
	clear: both;
	float: none;
}
blockquote {
	color: #E977AF;
}
@media (max-width: 500px) {
	.entry-content img {
		float: none;
		width: 100%;
	}
}
@media (min-width: 501px) and (max-width: 954px) {
	.entry-content img {
		width: 50%;
	}
}
@media (min-width: 955px) {
	.entry-content .image-grid {
		display: block;
    	width: 600px;
	}
	blockquote {
		top: 8em;
		position: absolute;
		left: 2em;
	}
}
@media (max-width: 954px) {
	
	.site .secondary {
		opacity: 0;
		filter: alpha(opacity=0);
		-webkit-transition: .25s all ease;
		        transition: .25s all ease;
	}
	.site .secondary.toggled-on {
		position: fixed;
		display: block;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: white;
		z-index: 100;
		margin: 0;
		opacity: 1;
		filter: alpha(opacity=100);
	}
	.site .secondary .main-navigation {
		width: 100%;
		display: block;
		position: relative;
		float: none;
		top: 4em;
		clear: both;
		text-align: center;
		right: auto;
	    left: auto;
	}
	.site .sidebar .main-navigation .nav-menu .menu-item {
		display: block;
		width: 100%;
		border: none;
		padding: .25em;
	}
	.widget-area {
		margin: 0;
		position: absolute;
		top: 11px;
		left: 11px;
		width: calc(100% - 20px);
		max-width: none;
	}
	.widget-area .widget_search {
		margin: 0;
		width: calc(100% - 76px);
	}
	.secondary-toggle {
		border: 2px solid rgba(255,255,255,.5);
	}
	.secondary-toggle:before {
		color: rgba(255,255,255,.5);
	}
	.secondary-toggle:hover {
		color: rgba(255,255,255,1);
	}
	.secondary-toggle:hover:before {
		border-color: rgba(255,255,255,1);
	}

	.entry-content {
		padding: 1em;
	}

	.tiled-gallery {
		margin: 1em;
		position: relative;
	}

}

img.alignleft {
	margin-right: 1em;
    margin-bottom: .5em;
}
img.alignright {
	margin-left: 1em;
    margin-bottom: .5em;
}

.hentry { min-height: 60vh; }
.search .hentry { min-height: auto; }



@media screen and (min-width: 59.6875em) {
	.widget {
	    margin: 1em;
	}
}
@media screen and (min-width: 38.75em) {
	.widget {
	    margin-bottom: 1em;
	}
}

.site-info:after {
    content: "";
    display: table;
    clear: both;
    float: none;
}
.site-info .footer_content_widget {
	color: white;
    max-width: calc(100% - 2em);
    margin: 0;
    padding: 1em;
    text-align: center;
}
.site-info .footer_content_widget img {
	width: 33.3333%;
    height: auto;
    max-width: 60px;
}
.site-info .footer_content_widget h2 {
	background-color: transparent;
    color: white;
    font-size: 1em;
    margin: 0;
    padding: 0;
}
@media (min-width: 600px) {
	.site-info .footer_content_widget {
		float: left;
    	width: 33.3333%;
    	text-align: left;
	}
}
.site-info h6 {
	padding: 1em;
	text-align: center;
}
@media (min-width: 600px) {
	.site-info h6 {
		padding: 1em;
		width: 33.3333%;
		float: left;
		clear: none;
		text-align: right;
	}
}

.pkg-container:after {
	display: table;
	content: "";
	float: none;
	clear: both;
}

@media (min-width: 900px) {
	.pkg-box {
	    border: 5px solid #E977AF;
	    padding: 1em;
	    width: calc(33.3333% - 1em);
	    float: left;
	    margin-right: 1em;
	}
	.pkg-box:last-child {
		margin-right: 0;
	}
}