/*
 Theme Name:   Say Cheese Photo Template 
 Theme URI:    http://flxa.co
 Description:  Twenty Fifteen Child Theme for SCP
 Author:       Nicholas Fletcher
 Author URI:   http://nfletcher.com
 Template:     twentyfifteen
 Version:      1.0.0
*/
@import url("../twentyfifteen/style.css");
/*@import url(http://fonts.googleapis.com/css?family=Michroma);*/
body {
	font-family: "Century Gothic","Futura",sans-serif;
}
body:before {
	display: none;
}
.site {
	min-height: calc(100vh - 66px);
}
.site-main {
	padding-bottom: 6em;
}
.site .sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 100%;
	height: auto;
	background-color: white;
	z-index: 1;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}
.site .sidebar .site-header {
	position: relative;
	margin: 0;
	max-width: 100%;
	padding: 1em;
	background-color: #DE5D8D;
    color: white;
}
.site .sidebar .main-navigation {
	margin: 0;
	width: auto;
	display: inline-block;
	float: right;
	top: 1em;
	position: fixed;
	right: calc(2em + 100px);
	border: 0;
	background-color: transparent;
}
.site .sidebar .main-navigation .nav-menu {
	border: none;
}
.site .sidebar .main-navigation .nav-menu .menu-item {
	display: inline-block;
	width: auto;
	padding: 0;
	border: none;
}
.widget-area {
	position: fixed;
	top: 1.5em;
	right: 1em;
}
.widget-area .widget_search {
	margin: 0;
	padding: 0;
	width: 100px;
}
.site-content {
	margin-top: 82px;
	width: 100%;
	margin-left: 0;
}
@media (min-width: 620px) {
	.site-content {
		padding-top: 3em;
	}
}
.site-content .site-main {
	padding: 1em;
}
.site-footer {
	width: 100%;
	margin: 0;
	z-index: 100;
	position: relative;
	bottom: 0;
	z-index: 0;
}
@media (min-width: 955px) {
	.site-footer {
		position: fixed;
	}
}
.site-footer .site-info {
	padding: 2em;
}
article .entry-footer {
	padding: 1em;
}

.site-title {
	color: white;
	font-family: "Century Gothic","Futura";
	text-rendering: geometricPrecision;
	font-size: 1.5em;
}
.site-title a {
	color: white;
}
.site-description {
	margin: 0;
	margin-top: -2px;
}

/* Typography */

.entry-title {
	font-size: 2em;
	max-width: 100%;
	transform: skew(-15deg) rotate(-5deg);
	background-color: #424242;
	color: white;
	padding: .25em;
	margin: 0;
	float: none;
	margin-left: 0;
	line-height: 1;
	text-rendering: geometricPrecision;
	margin-top: -1em;
    margin-bottom: 1em;
}
@media (min-width: 620px) {
	.entry-title {
		margin-left: 0;
	    font-size: 3em;
		max-width: 6em;
		transform: skew(-15deg) rotate(-15deg);
		margin-left: -2em;
	}
}
@media (min-width: 955px) {
	.entry-title {
		float: left;
    	margin-left: -3em;
    }
}

.hentry {
	padding-top: 1em;
}

.entry-content, .entry-summary {
	padding: 0 10% 10% 20%;
}

/* mobile first */

@media (min-width: 955px) {
	.site .sidebar .main-navigation .nav-menu .menu-item a {
		color: white !important;
		padding: 1em;
		transition: .25s all ease;
	}
	.site .sidebar .main-navigation .nav-menu .menu-item a:hover {
		background-color: rgba(0,0,0,.1);
	    transform: skew(-15deg);
	    padding: 1em;
	}
	/*.widget-area {
		width: calc(100% - 14em);
	}*/
}

/* Backwards arse mobile last design :( ... for shame (on me) */

@media (max-width: 954px) {
	.site .secondary {
		opacity: 0;
		transition: .25s all ease;
	}
	.site .secondary.toggled-on {
		position: fixed;
		display: block;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: white;
		z-index: 100;
		margin: 0;
		opacity: 1;
	}
	.site .secondary .main-navigation {
		width: 100%;
		display: block;
		position: relative;
		float: none;
		top: 4em;
		clear: both;
		text-align: center;
		right: auto;
	    left: auto;
	}
	.site .sidebar .main-navigation .nav-menu .menu-item {
		display: block;
		width: 100%;
		border: none;
		padding: .25em;
	}
	.widget-area {
		margin: 0;
		position: absolute;
		top: 11px;
		left: 11px;
		width: calc(100% - 20px);
		max-width: none;
	}
	.widget-area .widget_search {
		margin: 0;
		width: calc(100% - 76px);
	}
	.secondary-toggle {
		border: 2px solid rgba(255,255,255,.5);
	}
	.secondary-toggle:before {
		color: rgba(255,255,255,.5);
	}
	.secondary-toggle:hover {
		color: rgba(255,255,255,1);
	}
	.secondary-toggle:hover:before {
		border-color: rgba(255,255,255,1);
	}
}